nav a{
    color: white;
} 
nav a:hover{
    color:#F8C146;
}
.custom-dropdown{
    background-color: #3F9BAF;
}
.custom-dropdown a{
    color:white;
}
.custom-dropdown div{
    border: 1px solid #F8C146;
}
.custom-dropdown a:hover{
    background-color: #F8C146;
    color: white;
}
#error-msg{
    padding-top: 15px;
}
.addFriendBtn{
    color: black;
} 
.addFriendBtn i{
    float: right;
} 
.addFriendBtn:hover{
    color:#F8C146;
}
ul{
    width: 50%;
}