#banner{
    background-image: url('https://plsadaptive.s3.amazonaws.com/eco/images/channel_content/images/digital_hr_man_with_social_network_contacts_hologram_over_grey_background__man_with_social_network_contacts_hologram.jpg');
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0; 
}