.mobiles{
    width: 75%;
    height:95%;
}
.mobiles-parent{
    padding-left: 20%;
    padding-top: 5%;
    height: 70%;
}
.televisions{
    width: 95%;
}
.televisions-parent{
    height:58%;
    padding-top: 30%;
    padding-left: 5%;
}
.refrigerators{
    height: 90%;
    width: 50%
}
.refrigerators-parent{
    height: 55%;
    padding-left: 32%;
    padding-top: 5%;
}
.washing-machines{
    height: 90%;
    width:80%;
}
.washing-machines-parent{
    height: 60%;
    padding-left: 18%;
    padding-top: 10%;
}
.home-kitchen{
    width: 90%;
}
.home-kitchen-parent{
    height: 68%;
    padding-top: 35%;
    padding-left: 25px;
}
.home-kitchen-big{
    width: 90%;
}
.home-kitchen-big-parent{
    height: 68%;
    padding-top: 15%;
    padding-left: 25px;
}
.watches{
    width: 75%;
}
.watches-parent{
    height: 65%;

    padding-top: 10%;
    padding-left: 50px;
}
h1{
    margin-top: 8px;
}